<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <!-- 连接字符串-->
  <connectionStrings>
    <add name="SQLServerDB" connectionString="Data Source=127.0.0.1;Initial Catalog=WebDAO;Persist Security Info=True;User ID=sa;Password=123456;Pooling=true;Min Pool Size=1;Max Pool Size=500;" providerName="System.Data.SqlClient" />
    <add name="MySqlDB" connectionString="Data Source='localhost';Database='wp';User Id='root';Password='root';charset='utf8';pooling=true" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="lyfePortsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lyfeofall.vicp.io/lyfePorts.asmx" binding="basicHttpBinding"
        bindingConfiguration="lyfePortsSoap" contract="ServiceReference1.lyfePortsSoap"
        name="lyfePortsSoap" />
    </client>
  </system.serviceModel>
</configuration>
